Test_Institutec/Connected Services/ProxySeccion/WCG_Institutec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCG_Institutec" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCG_Institutec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:short" />
      <xs:element minOccurs="0" name="ActivoCurso" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraFin" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraIni" type="ser:duration" />
      <xs:element minOccurs="0" name="IdCent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCods" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomCur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vacante" type="xs:short" />
      <xs:element minOccurs="0" name="dia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomLocal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomProfesor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeccionDC" nillable="true" type="tns:SeccionDC" />
  <xs:complexType name="ArrayOfSeccionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeccionDC" nillable="true" type="tns:SeccionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeccionDC" nillable="true" type="tns:ArrayOfSeccionDC" />
</xs:schema>